/* html,
body {
  margin: 0px;
} */

.illustration {
  float: right;
  padding-bottom: 1em;
  /* display: inline; */
}

.pictures {
  width: 30vw;
  display: block;
  margin: auto;
}

.input-field {
  font-size: 3rem;
  padding: 1rem;
}

.input-field:focus {
  border: 5px;
  border-style: groove;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  background-color: #000;
}

li:hover {
  font-weight: bold;
  font-size: 1.2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Activities,
.Events,
.Restaurants {
  display: flex;
  /* justify-content: center; */
  padding: 0.03vw 1vw;
}

.Activities h1,
.Events h1,
.Restaurants h1 {
  text-align: center;
}

.footer {
  grid-area: footer;
}
